#services {
	i {
		margin-bottom: 1em;
		font-size:9em;
	}
	color:#fff;
	article {
		padding-top:3em;
		padding-bottom:3em;
		min-height: 400px;
		h2 {
			text-transform:uppercase;
			font-weight: normal;
			font-size:4.7em;
		}
		p {
			width:85%;
			margin: 0 auto;
			display:block;
			margin-bottom: 2.5em;
		}
		.btn {
			font-size:2em;
		}
	}
}