.btn {
	padding:0.8em 3em;
	border:1px solid $pink;
	background:$pink;
	text-transform:uppercase;
	color:#fff;
	border-radius:0px;
	font-weight:bold;
	&:hover {
		background:$black;
		color:#fff;
		border-color:$black;
	}
}
.btn.ghost {
	background:transparent;
	border-color:#fff;
	&:hover {
	@extend .btn:hover
	}
}
