// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;



/*=============================
=            COLOR            =
=============================*/
$pink:#CD00CC;
$purple:#971B97;
$purple-bright:#AA0BE4;
$grey:#999999;
$gray: $grey;

